<form action="" method="post" id="date-form">
    <div>
        {{ date_form.hidden_tag() }}
        {{ date_form.start_date.label }}
        {{ date_form.start_date(class="form-control") }}
        {% for error in date_form.start_date.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ date_form.end_date.label }}
        {{ date_form.end_date(class="form-control") }}
        {% for error in date_form.end_date.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    {{ date_form.submit }}
</form>