{% extends "base.html" %}

{% block body %}
    <h3>Инсайдеры {{ ticker.name }}</h3>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
        <tr>
            <td>Insider</td>
            <td>Relation</td>
            <td>Last Date</td>
            <td>Transaction Type</td>
            <td>Owner Type</td>
            <td>Shares Traded</td>
            <td>Last Price</td>
            <td>Shares Held</td>
        </tr>
        </thead>
        <tbody>
        {% for insider in insiders %}
            <tr>
                <td><a href="{{ url_for("insider", ticker_name=ticker.name,
                                                   insider_name=insider.name,
                                                   insider_inner_id=insider.inner_id)
                        }}">{{ insider.name }}</a></td>
                <td>{{ insider.relation }}</td>
                <td>{{ insider.last_date | datetimeformat }}</td>
                <td>{{ insider.transaction_type }}</td>
                <td>{{ insider.owner_type }}</td>
                <td>{{ insider.shares_traded }}</td>
                <td>{{ insider.last_price }}</td>
                <td>{{ insider.shares_held }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}