{% extends "base.html" %}

{% block body %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li class="error">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h3>Профиль {{ ticker.name }}</h3>
    <a href="{{ url_for('insiders', ticker_name=ticker.name) }}">К списку инсайдеров ></a>
    <h4>Аналитика</h4>

    {% include "date_form.html" %}

    {% include "delta_form.html" %}

    <h4>История</h4>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
        <tr>
            <td>Date</td>
            <td>Open</td>
            <td>High</td>
            <td>Low</td>
            <td>Close / Last</td>
            <td>Volume</td>
        </tr>
        </thead>
        <tbody>
        {% for row in history %}
            <tr>
                <td>{{ row.date | datetimeformat }}</td>
                <td>{{ row.open }}</td>
                <td>{{ row.high }}</td>
                <td>{{ row.low }}</td>
                <td>{{ row.close }}</td>
                <td>{{ row.volume }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}